@font-face {
  font-family: "Bodoni Moda";
  src: url("../assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
