@use "../../variables" as *;

.bestseller-wrapper {
  // Możesz tu dodać marginesy pionowe dla całej grupy, jeśli chcesz
}

.bestseller {
  color: $color-cream;

  // Warianty kolorystyczne z bazy
  &--slate {
    background-color: $color-slate;
  }
  &--brown {
    background-color: $color-brown;
  }
  &--olive {
    background-color: $color-olive; // DODANE: Wariant oliwkowy
  }

  &__container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 clamp(20px, 4vw, 40px);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  // Magia szachownicy - odwracanie kolejności kolumn w CSS!
  &--reversed .bestseller__grid {
    direction: rtl; // Odwraca kierunek dla desktopu

    > * {
      direction: ltr; // Przywraca normalny kierunek czytania tekstu wewnątrz bloku
    }

    @media (max-width: 992px) {
      direction: ltr; // Na mobile obrazek niech wraca na górę, jest czytelniej

      .bestseller__image {
        order: -1; // Wymusza obrazek na samej górze w gridzie na mobile
      }
    }
  }

  &__text {
    padding: clamp(40px, 6vw, 80px);

    // Jeśli nie jest reversed, tekst ma padding po prawej, jeśli reversed to po lewej
    padding-right: 40px;

    @media (max-width: 992px) {
      padding: 40px 0;
    }

    h2 {
      font-size: clamp(2rem, 3.5vw, 3rem);
      margin-bottom: 25px;
      line-height: 1.2;
      font-weight: 400; // Pod Libre Bodoni
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
      margin-bottom: 30px;
      opacity: 0.9;
    }
  }

  // Specyficzny padding dla odwróconego tekstu
  &--reversed .bestseller__text {
    padding-right: 0;
    padding-left: 40px;

    @media (max-width: 992px) {
      padding: 40px 0;
    }
  }

  &__image {
    height: 100%;
    min-height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; // Usuwa dziwny margines dolny pod img
    }
  }

  &__badge {
    display: inline-block;
    font-family: $font-body;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: rgba($color-cream, 0.7);
  }

  &__price {
    font-size: 1.5rem !important;
    font-family: $font-heading;
    color: $color-white !important;
  }
}
