@use "../../variables" as *;

.bestseller {
  background-color: $color-slate;
  color: $color-cream;

  &__container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 clamp(20px, 4vw, 40px);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    padding: clamp(40px, 6vw, 80px);
    padding-left: 0;

    @media (max-width: 992px) {
      padding: 40px 0;
    }

    h2 {
      font-size: clamp(2rem, 3.5vw, 3rem);
      margin-bottom: 25px;
      line-height: 1.2;
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
      margin-bottom: 30px;
      opacity: 0.9;
    }
  }

  &__image {
    height: 100%;
    min-height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__badge {
    display: inline-block;
    font-family: $font-body;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: rgba($color-cream, 0.7);
  }

  &__price {
    font-size: 1.5rem !important;
    font-family: $font-heading;
    color: $color-white !important;
  }
}
